# azure-pipelines.yml
trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true

- script: |
    pip install pandas requests
    python scripts/grizzlies_clean.py
  displayName: "Run Data Cleaning Script"
